.claude
.env
.envrc
.kiro/
.mypy_cache
.python-version
.venv/
.vscode/
**/__pycache__
**/.benchmarks
**/.DS_Store
**/.pytest_cache
**/.ruff_cache
**/*.clab.yml.bak
**/*.tar.xz
docker-compose.yml
generated-configs/
infrahub_bundle_dc.egg-info
infrahub-backup
scripts/debug/
service_catalog/.streamlit/
